.calcDisplay{
    width: 97%;
    border: 1px solid red;
    .r1{
        text-align-last: right;
        padding-right: 1rem;
        font-size: 2rem;
        color: white;
        background-color: black;
    }
}