/* All styles for your Card Components live here */
.CardContainer{
    padding: 1rem;
    /* border: 1px solid red; */
}

.CardBanner{
    width: 90%;
    margin-left: 10rem;
    /* border: 1px solid red; */
}

.CardContent{
    width: 90%;
    margin: 0 10rem;
    /* border: 1px solid red; */
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

a, .aReactTag{
    text-decoration: none;
    color: black;
}

.aReactTag{
    color: silver;
}